#extension-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#word-select-dropdown {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

#word-select-dropdown option:hover {
  background-color: #f2f2f2;
}
